<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">PROFILE</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section class="md-padding ">
	<h1 class="text-center md-padding">Muhammed Tarık Uçar</h1>
</section>
<section>
	<div class="container" style="margin-top: -150px;">
		<div class="row">
			<div class="col-md-5">
				<h2 class="md-padding">Who am ı?</h2>
				<h4 style="margin-top: -70px;">Tohum saç, bitmezse toprak utansın! Hedefe varmayan mızrak utansın! Hey
					gidi Küheylan, koşmana bak sen! Çatlarsan, doğuran kısrak utansın! Eski çınar şimdi Noel ağacı;
					Dallarda iğreti yaprak utansın! Ustada kalırsa bu öksüz yapı, Onu sürdürmeyen çırak utansın! Ölümden
					ilerde varış dediğin, Geride ne varsa bırak utansın! Ey binbir tanede solmayan tek renk;
					Bayraklaşamıyorsan bayrak utansın!</h4>
			</div>
			<div class="col-md-7" style="text-align: right;" id="chartdiv"></div>
		</div>

	</div>
</section>