    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footer-follow">
                        <li><a href="/contact"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="https://www.instagram.com/tarik.fi/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/muhammed-tarık-uçar-b12803198/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://github.com/tarik-fi/"><i class="fab fa-github"></i></a></li>
                    </ul>
                    <div class="footer-copyrights">
                        <p class="text-white">made by tarik.fi</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/lightbox-plus-jquery.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>