<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-contact md-padding">
	<h1 class="text-white text-center">BLOG</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="blog" class="md-padding">
	<div class="container">
		<div class="row">
			<main id="main">
				<div class="blog">
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fas fa-user"></i>{{post.author.username}}</li>
							<li><i class="fas fa-clock"></i>{{generateDate date "MMM DD YYYY"}}</li>
						</ul>
						<h3>{{post.title}}</h3>
						<p>{{post.content}}</p>
					</div>
			</main>
			</aside>
		</div>
	</div>
</section>